@page
@model BookkeepingCloudApplication.Pages.BCA.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 style="color:blueviolet">Invoice Details </h1>

<div style="text-align:justify-all; vertical-align:middle;">
    <h4></h4>
    <hr style="color:orangered" />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.InvoiceType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.InvoiceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.InvoiceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.InvoiceStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.InvoiceControlAccount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceControlAccount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.InvoiceAccount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceAccount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.AccountName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.AccountName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.AccountEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.AccountEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.AccountReference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.AccountReference)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.AccountType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.AccountType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.InvoiceItem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceItem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.UnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.NetAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.NetAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.TaxCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.TaxCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.TaxAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.TaxAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.GrossAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.GrossAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.CurrencyCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.CurrencyCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.DateEntered)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.DateEntered)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.EnteredBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.EnteredBy)
        </dd>
    </dl>
</div>
<div class="accordion-button">
    <div class="col-md-6">
        <a asp-page="./Edit" asp-route-id="@Model.Invoice?.Id">Edit</a>  
    </div>
    <div class="col-md-6" style="text-align:right">
        <a asp-page="./InvoiceLine" asp-route-id="@Model.Invoice?.Id">Add New Line</a> ||
        <a asp-page="./Index">Back to Invoice List</a>
    </div>
       
</div>
